<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="head">
        <h1 class="head">Choose Your API</h1>
        <div>
            <h3>Logged in as: <%= user.name %> | <a href="/logout">Logout</a></h3>
        </div>
        </div>
        <div class="picContainer">
            <div id = "movie">
            <a href="/movies">
            <img width="500px" src="/images/movie.jpg"></a>
            <p>Checkout a listing of movies now playing in theaters near you
                et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
            </p>
            </div>
            <div id="random">
            <a href="/random">
            <img width="500px" src="/images/randomppl.jpg"></a>
            <p>See an alphabetical list of random users.
                et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
            </p>
            </div>
        </div>
    </body>
</html>


