<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/movieStyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id ='header'>
            <h2>Here is a list of movie playing in theater</h2>
            <%- include('partial/header') %> 
        </div>
        <div id ='container'>
            <% result.forEach(movie => { %>
                <div id = 'main'>
                    <div>
                        <img src="<%= `https://image.tmdb.org/t/p/w200${movie.poster_path}` %> " alt="..." />
                    </div>
                    <div id='descript'>
                        <div>
                            <h3 id = 'movie-name'><%= movie.title %> </h2>
                        </div>
                        <div>
                            <p id= 'text'> <%= movie.overview %> </p>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
    </body>
</html>