<h1>Welcome to our app</h1>


<a href="/">Home</a>




<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <script src="./main.js"></script>
    </body>
</html>